
body{
  background: #1f202f;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  color: #fbfbfb;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex{
  display: flex;
}
.flex--header{
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.flex--movies{
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 30px;  
}

.title{

}

.search__inut{
  border: 2px solid #51516a;
  background: #383846;
  height: 40px;
  width: 350px;
  border-radius: 20px;
  padding: 0 20px;
}
.movies__item {
  flex: 0 1 300px;
}
.movie{
  background: #2f2f3d;
  border-radius: 10px;  
}
.movie__poster{
  border-radius: 10px 10px 0 0;
}
.movie__details{
  padding: 10px;
}
.movie__description{
  display: none;
}

.footer{
  padding: 40px 0;
  background: #070707;
  color: #fff;
  font-size: 22px;
}
.footer a{
  font-size: 22px;
}
.footer__container{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.footer__rss{
  display: inline-block;
}
.footer__logo{
  width: auto;
  height: 22px;
}